
  .textTracks {
    margin-top: 40px;
    position: relative;
    margin-left: 15px;  
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  
  .textAlbumes {
    margin-top: 40px;
    position: relative;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .textArtist {
    margin-top: 60px;
    position: relative;
    margin-left: 15px;  
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  .line-cards{
    position: relative;
    top: -120px;
  }

  @media screen and (max-width: 555px){
    .textTracks{
      font-size: 15px;
    }
    .textArtist{
      font-size: 15px;
    }
    
    .textAlbumes{
      font-size: 15px;
    }
  }
  