<app-header-base
[colorDominantImage]="colorDominanteArtist"
[imageId]="artistImage"
[typeId]="artistType"
[nameId]="artistName"
[nameArtistOrFollowers]="artistFollowers"
[releaseDate]="artistGenres"
[numberSongsOrPopularity]="artistPopularity"
[search]="buscar"
/>
<div *ngIf="buscar && !loading">
    <p class="textTracks">Populares</p>
    <app-list-songs *ngIf="trackList"
    [topTrackList]="trackList"/>
  
    <p class="textAlbumes">Títulos populares</p>
    <app-cards-line class="line-cards"
    [topAlbumList]="albumList"/>

    <p class="textArtist">Sus fans también escuchan</p>
    <app-cards-line class="line-cards"
    [topTrackList]="artistList"/>

</div>