<div class="container">
    <div class="primary">
        <div class="fondo" [ngStyle]="{
            'background': 'linear-gradient(to top, transparent 0, rgba(' + colorDominanteArtist[0] + ',' + colorDominanteArtist[1] + ',' + colorDominanteArtist[2] + ', 1) 100%)'
          }">
            <div class="navsearch">
                <button class="btonre">Registrarte</button>
                <button class="btonis">Iniciar sesión</button>
            </div>
            <div class="header">
                <div class="imgHeader">
                    <img class="imgImg" src="{{artistImage}}" alt="">
                </div>
                <div class="textHeader" *ngIf="buscar">
                    <p class="artistName">{{artistName}}</p>
                    <p><span class="sLista">{{ artistFollowers | numberFormat }} seguidores · Popularidad
                            {{artistPopularity}}</span></p>
                </div>
            </div>
        </div>
        <div *ngIf="loading"
            style="font-size: 25px; font-weight: bold; position: absolute; top: 50%; left: 40%; z-index: 999">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div *ngIf="buscar && !loading">
            <p class="textTracks">Populares</p>
            <table>
                <thead>
                    <tr class="columnall">
                        <th class="column1"></th>
                        <th class="column2"></th>
                        <th class="column3"></th>
                        <th class="column4"></th>
                        <th class="column5"></th>
                        <th class="column6"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let track of trackName.slice(0, 5); let i = index">
                        <tr class="filasall">
                            <td class="fila1">{{ i + 1 }}</td>
                            <td class="fila2"><img class="imgCanciones" src="{{trackImage[i]}}"
                                    (click)="togglePlayBack(trackUrl[i])"></td>
                            <td>
                                <span class="fila31" (click)="takeIdAll(trackId[i])" [routerLink]="'/songsId'">{{ trackName[i] }}</span> <br>
                            </td>
                            <td></td>
                            <td class="fila4">{{trackDuration[i] | pipeDuracion}}</td>
                            <td class="flila5">
                                <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                                    (input)="ajustarVolume()">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <p class="textAlbumes">Títulos populares</p>
            <div class="cardAlbum">
                <div class="cardImageAlbum" *ngFor="let album of nameAlbum.slice(0, 6); let i = index">
                    <div class="cardCuadAlbum">
                        <img class="imageAlbum" src="{{imageAlbum[i] }}" alt="" (click)="takeIdAll(idsAlbum[i])"
                            [routerLink]="'/albumDirect'">
                        <div class="textListBottom">
                            <p class="artistAlbum">{{nameAlbum[i] | pipeTruncate}}</p> <br>
                            <p class="yearArtist">{{releaseDate[i].split("-")[0]}} · {{typeAlbum[i]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="textArtist">Sus fans también escuchan</p>
            <div class="cardArtist">
                <div class="cardImageArtista" *ngFor="let artista of artistSimilarName.slice(0, 6); let i = index">
                    <div class="cardRedSimilar" (click)="takeIdAll(idArtistSimilar[i])" (click)="ngOnInit()">
                        <img class="imageSimilar" src="{{artistSimilarImage[i]}}" alt=""  >
                        <div class="textListBottom">
                            <p class="artistSimilar">{{artistSimilarName[i]}}</p>
                            <p class="typeArtist">{{artistSimilarType[i]}}</p>
                        </div>
                    </div>
                </div>
            </div>
           <app-footer></app-footer>
        </div>
    </div>
</div>