<app-nav-cards/>
<div *ngIf="buscar && !loading">

  <p class="text">Resultado principal</p>
    <div class="containerCards">
    <div class="cardP" (click)="takeId(idArtist)" [routerLink]="['/artistId', idArtist]">
      <div class="cardI">
        <img class="card-image" src={{imageUrl}} alt="Imagen del artista" >
      </div>
      <div class="cancarti">
        <p class="nombrecanc">{{artist}}</p>
        <p class="result">Artista<span class="artista"></span></p>
      </div>
    </div>
    <div class="cardC">
      <p class="text2">Canciones</p>
      <app-list-songs
      [topTrackList]="topTrackList"/>
    </div>
    </div>
    <p class="textArtist">Artistas</p>
    <app-cards-line
    [topTrackList]="artistSonList" />

    <p class="textAlbumes">Álbumes</p>
    <app-cards-line class="albumList"
    [topAlbumList]="albumSonList" />

    <p class="textList">Listas</p>
    <app-cards-line
    [topPlayListList]="playListSonList" />

</div>
