<div class="second">
    <div class="logo">
        <mat-icon class="icon">queue_music</mat-icon>
        <div class="title">SearchMusics</div>
    </div>
    <div class="homSearch">
        <div class="inicio">
            <mat-icon class="icon" (click)="onClickHome()">home</mat-icon>
            <div class="title2"><button class="btn1" (click)="onClickHome()">Inicio</button></div>
        </div>
        <div class="buscar">
            <mat-icon class="icon" (click)="onClickSearch()" >search</mat-icon>
            <div class="title2"> <button class="btn1" (click)="onClickSearch()" >Buscar</button>
            </div>
        </div>
    </div>
</div>