.listaBusquedas {
    background-color: #121212;
    top: 70px;
    margin-right: 10px;
    position: relative;
    display: flex;
    left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bsq {
    margin-left: 10px;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: none;
    background-color: #242424;
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  .bsq:hover {
    background-color: #302f2f;
  }

  .bsq.active {
    margin-left: 10px;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    color: black;
  }

  .bsq:focus {
    background-color: white;
    color: black
  }

  @media screen and (max-width: 555px) {
    .bsq {
      font-size: 10px;
    }

    .bsq.active {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .bsq {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      font-size: 10px;
    }

    .bsq.active {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      font-size: 10px;
    }
  }