.listaBusquedas {
    background-color: #121212;
    top: 75px;
    right: 8px;
    margin-right: 10px;
    position: fixed;
    display: flex;
    left: 440px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
  }

  .bsq {
    margin-left: 10px;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: none;
    background-color: #242424;
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  .bsq:hover {
    background-color: #302f2f;
  }

  .bsq.active {
    margin-left: 10px;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    color: black;
  }

  .bsq:focus {
    background-color: white;
    color: black
  }
  @media screen and (max-width: 955px) {
    .listaBusquedas{
      left: 41.5%;
    }
  }

  @media screen and (max-width: 855px) {

    .listaBusquedas {
      left: 37%;
    }
  }

  @media screen and (max-width: 755px) {

    .listaBusquedas {
      left: 32%;
    }
  }

  @media screen and (max-width: 655px) {

    .listaBusquedas {
      left: 27.5%;
    }
  }


    

  @media screen and (max-width: 555px) {
    .listaBusquedas{
      left: 23%;
    }

    .bsq {
      font-size: 10px;
    }

    .bsq.active {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .listaBusquedas{
      left: 24%;
    }
    .bsq {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      font-size: 10px;
    }

    .bsq.active {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 5px;
      font-size: 10px;
    }
  }