
<div class="listaBusquedas">
    <button #buttonTodo class="bsq" [routerLink]="['/searchMain', searchTerm]"
    routerLinkActive="active">Todo</button>
    <button #buttonSongs class="bsq" [routerLink]="['/songs', searchTerm]"
    routerLinkActive="active">Canciones</button>
    <button #buttonArtists class="bsq" [routerLink]="['/artists', searchTerm]"
    routerLinkActive="active">Artistas</button>
    <button #buttonAlbums class="bsq" [routerLink]="['/albums', searchTerm]"
    routerLinkActive="active">Álbumes</button>
</div>

