.navsearch {
  top: 8px;
  right: 8px;
  left: 435px;
  height: 70px;
  position: fixed;
  background-color: #080808;
  z-index: 1;
}

.btonre {
  position: fixed;
  top: 25px;
  right: 200px;
  border: none;
  color: #acabab;
  background-color: transparent;
  font-weight: 500;
}

.btonre:hover {
  scale: 103%;
  color: white;
}

.btonis {
  position: fixed;
  top: 12px;
  right: 20px;
  border-radius: 50px;
  border: none;
  font-weight: 650;
  width: 160px;
  height: 50px;
  margin-left: 20px;
}

.btonis:hover {
  scale: 103%;
}

@media screen and (max-width: 955px) {

  .navsearch {
    left: 41.5%;
  }
}

@media screen and (max-width: 855px) {

  .navsearch {
    left: 37%;
  }
}

@media screen and (max-width: 755px) {

  .navsearch {
    left: 32%;
  }
}

@media screen and (max-width: 655px) {
  .btonis{
    font-size: 12px;
    width: 120px;
    height: 40px;
    top: 18px;
  }
  .btonre{
    font-size: 12px;
    right: 150px;
  }
  .navsearch {
    left: 27.5%;
  }
}

@media screen and (max-width: 555px) {
  .navsearch {
    left: 23%;
  }
}