<div class="container">
    <div class="primary">
        <div class="fondo" [ngStyle]="{
            'background': 'linear-gradient(to top, transparent 0, rgba(' + colorDominanteTrack[0] + ',' + colorDominanteTrack[1] + ',' + colorDominanteTrack[2] + ', 1) 100%)'
          }">
            <div class="navsearch">
                <button class="btonre">Registrarte</button>
                <button class="btonis">Iniciar sesión</button>
            </div>
            <div class="header">
                <div class="imgHeader">
                    <img class="imgImg" src="{{trackImage}}" alt="">
                </div>
                <div class="textHeader" *ngIf="buscar">
                    <p class="artistName">{{trackName}}</p>
                    <p><span class="sLista">{{ trackReleaseDate.split("-")[0] }} · Popularidad
                            {{trackPopularity}} · {{trackType.charAt(0).toUpperCase() + trackType.slice(1)}}</span></p>
                </div>
            </div>
        </div>
        <div *ngIf="loading"
            style="font-size: 25px; font-weight: bold; position: absolute; top: 50%; left: 40%; z-index: 999">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div *ngIf="buscar && !loading">
            <p class="textTracks">Recomendaciones</p>
            <p class="textTracksTwo">Basadas en esta canción</p>
            <table class="table1">
                <thead>
                    <tr class="columnall">
                        <th class="column1"></th>
                        <th class="column2"></th>
                        <th class="column3"></th>
                        <th class="column4"></th>
                        <th class="column5"></th>
                        <th class="column6"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let track of trackRecomName.slice(0, 5); let i = index">
                        <tr class="filasall">
                            <td class="fila1"></td>
                            <td class="fila2"><img class="imgCanciones" src="{{trackRecomImage[i]}}"
                                    (click)="togglePlayBack(trackRecomUrl[i])"></td>
                            <td>
                                <span class="fila31" (click)="takeIdAll(trackRecomId[i])" (click)="ngOnInit()">{{
                                    trackRecomName[i] }}</span> <br>

                                <span class="fila32" *ngIf="trackRecomArtistsTwo[i] === ''">
                                    <span class="linkArtist" (click)="takeIdAll(trackRecomArtistsId[i])"
                                        [routerLink]="'/artistId'"> {{trackRecomArtists[i]}} </span></span>

                                <span class="fila32" *ngIf="trackRecomArtistsTwo[i] !== ''">
                                    <span class="linkArtist" (click)="takeIdAll(trackRecomArtistsId[i])"
                                        [routerLink]="'/artistId'"> {{trackRecomArtists[i]}} </span> ,
                                    <span class="linkArtist" (click)="takeIdAll(trackRecomArtistsTwoIds[i])"
                                        [routerLink]="'/artistId'">{{trackRecomArtistsTwo[i]}}</span> </span>
                            </td>
                            <td></td>
                            <td class="fila4">{{trackRecomDuration[i] | pipeDuracion}}</td>
                            <td class="flila5">
                                <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                                    (input)="ajustarVolume()">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <p class="textTracks">Canciones populares de</p>
            <p class="textTracksTwo">{{trackNameArtist}}</p>
            <table class="table2">
                <thead>
                    <tr class="columnall">
                        <th class="column1"></th>
                        <th class="column2"></th>
                        <th class="column3"></th>
                        <th class="column4"></th>
                        <th class="column5"></th>
                        <th class="column6"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let track of trackArtistName.slice(0, 5); let i = index">
                        <tr class="filasall">
                            <td class="fila1">{{ i + 1 }}</td>
                            <td class="fila2"><img class="imgCanciones" src="{{trackArtistImage[i]}}"
                                    (click)="togglePlayBack(trackArtistUrl[i])"></td>
                            <td>
                                <span class="fila31" (click)="takeIdAll(trackArtistId[i])" (click)="ngOnInit()">{{
                                    trackArtistName[i] }}</span> <br>
                            </td>
                            <td></td>
                            <td class="fila4">{{trackArtistDuration[i] | pipeDuracion}}</td>
                            <td class="flila5">
                                <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                                    (input)="ajustarVolume()">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <p class="textAlbumes">Publicaciones populares de {{trackNameArtist}}</p>
            <div class="cardAlbum">
                <div class="cardImageAlbum" *ngFor="let album of nameAlbumArtist.slice(0, 6); let i = index">
                    <div class="cardCuadAlbum">
                        <img class="imageAlbum" src="{{imageAlbumArtist[i] }}" alt=""
                            (click)="takeIdAll(idsAlbumArtist[i])" [routerLink]="'/albumDirect'">
                        <div class="textListBottom">
                            <p class="artistAlbum">{{nameAlbumArtist[i] | pipeTruncate}}</p> <br>
                            <p class="yearArtist">{{releaseDateArtist[i].split("-")[0]}} · {{typeAlbumArtist[i]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf=" artistTwoImage !== ''">
                <div class="cardArtistTwo">
                    <div class="artistTwoImage"><img class="artistTwoImage" src="{{artistTwoImage}}" alt=""></div>
                    <div class="artistTwoText">
                        <div class="textArtistTwo">Títulos populares</div>
                        <div class="textArtistOne">{{trackNameArtistTwo}}</div>
                    </div>
                </div>
            </div>
            <div class="cardAlbum" *ngIf="artistTwoImage !== ''">
                <div class="cardImageAlbum" *ngFor="let album of nameAlbumArtistTwo.slice(0, 6); let i = index">
                    <div class="cardCuadAlbum">
                        <img class="imageAlbum" src="{{imageAlbumArtistTwo[i] }}" alt=""
                            (click)="takeIdAll(idsAlbumArtistTwo[i])" [routerLink]="'/albumDirect'">
                        <div class="textListBottom">
                            <p class="artistAlbum">{{nameAlbumArtistTwo[i] | pipeTruncate}}</p> <br>
                            <p class="yearArtist">{{releaseDateArtistTwo[i].split("-")[0]}} · {{typeAlbumArtistTwo[i]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="textArtist">Sus fans también escuchan</p>
            <div class="cardArtist">
                <div class="cardImageArtista" *ngFor="let artista of artistSimilarName.slice(0, 6); let i = index">
                    <div class="cardRedSimilar" (click)="takeIdAll(idArtistSimilar[i])" [routerLink]="'/artistId'">
                        <img class="imageSimilar" src="{{artistSimilarImage[i]}}" alt="">
                        <div class="textListBottom">
                            <p class="artistSimilar">{{artistSimilarName[i]}}</p>
                            <p class="typeArtist">{{artistSimilarType[i]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="albumImagText">
                <div class="imageAlbumFooter">
                    <img class="imageAlbumFooter" src="{{trackImage}}" alt="">
                </div>
                <div class="textAlbumFooter">
                    <div class="textAlbumFooterType">Del {{albumType}}</div>
                    <div class="textAlbumFooterName" (click)="takeIdAll(albumId)" [routerLink]="'/albumDirect'">
                        {{albumTrack}}</div>
                </div>
            </div>
            <table class="table2">
                <thead>
                    <tr class="columnall">
                        <th class="column1"></th>
                        <th class="column2"></th>
                        <th class="column3"></th>
                        <th class="column4"></th>
                        <th class="column5"></th>
                        <th class="column6"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container class="filasallFoot" *ngFor="let track of albumTracksName; let i = index">
                        <tr class="filasall">
                            <td class="fila1">{{ i + 1 }}</td>
                            <td></td>
                            <td>
                                <span class="fila31" (click)="takeIdAll(albumTracksId[i])"(click)="ngOnInit()">{{albumTracksName[i]}}</span><br>

                                <span class="fila32" *ngIf="albumTracksArtistTwo[i] === ''">
                                    <span class="linkArtist" (click)="takeIdAll(albumTracksArtistId[i])"
                                    [routerLink]="'/artistId'"> {{albumTracksArtist[i]}} </span></span>

                                <span class="fila32" *ngIf="albumTracksArtistTwo[i] !== ''">
                                    <span class="linkArtist" (click)="takeIdAll(albumTracksArtistId[i])" [routerLink]="'/artistId'"> {{albumTracksArtist[i]}} </span> ,
                                    <span class="linkArtist" (click)="takeIdAll(albumTracksArtistTwoId[i])" [routerLink]="'/artistId'">{{albumTracksArtistTwo[i]}}</span> </span>
                            </td>
                            <td></td>
                            <td class="fila4">{{albumTracksDuration[i] | pipeDuracion}}</td>
                            <td class="flila5">
                                <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                                    (input)="ajustarVolume()">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="releaseFoot">{{albumTracksRelease}}</div>
            <div class="footerOne">
                <div class="footerOneOne">
                    <p class="titleFoot">Empresa</p>
                    <p>Acerca de</p>
                    <p>Empleo</p>
                    <p>For the Record</p>
                </div>
                <div class="footerOneOne">
                    <p class="titleFoot">Comunidades</p>
                    <p>Para artistas</p>
                    <p>Desarrolladores</p>
                    <p>Publicidad</p>
                    <p>Inversores</p>
                    <p>Proveedores</p>
                </div>
                <div class="footerOneOne">
                    <p class="titleFoot">Enlaces útiles</p>
                    <p>Asistencia</p>
                    <p>App gratis para móvil</p>
                </div>
                <div class="footerOneOne">
                    <p class="titleFoot">Planes de Spotify</p>
                    <p>Premium Individual</p>
                    <p>Premium Duo</p>
                    <p>Premium Familiar</p>
                    <p>Premium para Estudiantes</p>
                    <p>Spotify Free</p>
                </div>
                <div class="iconosFoot">
                    <a target="_blank" class="fa fa-facebook"></a>
                    <a target="_blank" class="fa fa-instagram"></a>
                    <a target="_blank" class="fa fa-twitter"></a>
                </div>
            </div>
            <hr class="finalFoot">
        </div>
    </div>
</div>