<app-header-base *ngIf="!loading"
            [colorDominantImage]="colorDominanteTrack"
            [imageId]="trackImage"
            [typeId]="trackType"
            [nameId]="trackName"
            [nameArtistOrFollowers]="artistFollowers"
            [releaseDate]="trackReleaseDate"
            [numberSongsOrPopularity]="trackPopularity"
            [search]="buscar"
            />
<div *ngIf="buscar && !loading">

    <p class="textTracks">Recomendaciones</p>
    <p class="textTracksTwo">Basadas en esta canción</p>
    <app-list-songs
    [topTrackList]="trackRecomList" />

    <p class="textTracks">Canciones populares de</p>
    <p class="textTracksTwo">{{trackNameArtist}}</p>
    <app-list-songs
    [topTrackList]="trackArtistList" />

    <p class="textAlbumes">Publicaciones populares de {{trackNameArtist}}</p>
    <app-cards-line class="app-album"
    [topAlbumList]="albumList"/>

    <div *ngIf=" artistTwoImage !== ''">
        <div class="cardArtistTwo">
            <div class="artistTwoImage"><img class="artistTwoImage" src="{{artistTwoImage}}" alt=""></div>
            <div class="artistTwoText">
                <div class="textArtistTwo">Títulos populares</div>
                <div class="textArtistOne">{{trackNameArtistTwo}}</div>
            </div>
        </div>
    </div>
    <app-cards-line class="app-albumTwo"
    [topAlbumList]="albumListTwo"/>

    <p class="textArtist">Sus fans también escuchan</p>
    <app-cards-line
    [topTrackList]="artistSimilarList"/>

    <div class="albumImagText">
        <div class="imageAlbumFooter">
            <img class="imageAlbumFooter" src="{{trackImage}}" alt="">
        </div>
        <div class="textAlbumFooter">
            <div class="textAlbumFooterType">Del {{albumType}}</div>
            <div class="textAlbumFooterName" (click)="takeIdAll(albumId)" [routerLink]="['/albumDirect', albumId]">
                {{albumTrack}}</div>
        </div>
    </div>

    <app-list-songs class="list-song"
    [topTrackList]="albumTrackList" />

    <div class="releaseFoot">{{albumTracksRelease}}</div>
</div>