<app-header-base *ngIf="!loading"
            [colorDominantImage]="colorDominanteTrack"
            [imageId]="trackImage"
            [typeId]="trackType"
            [nameId]="trackName"
            [nameArtistOrFollowers]="artistFollowers"
            [releaseDate]="trackReleaseDate"
            [numberSongsOrPopularity]="trackPopularity"
            [search]="buscar"
            />
<div *ngIf="buscar && !loading">

    <p class="textTracks">Recomendaciones</p>
    <p class="textTracksTwo">Basadas en esta canción</p>
    <app-list-songs
    [topTrackList]="trackRecomList" />

    <p class="textTracks">Canciones populares de</p>
    <p class="textTracksTwo">{{trackNameArtist}}</p>
    <app-list-songs
    [topTrackList]="trackArtistList" />
 

    <p class="textAlbumes">Publicaciones populares de {{trackNameArtist}}</p>
    <div class="cardAlbum">
        <div class="cardImageAlbum" *ngFor="let album of nameAlbumArtist.slice(0, 6); let i = index">
            <div class="cardCuadAlbum">
                <img class="imageAlbum" src="{{imageAlbumArtist[i] }}" alt="" (click)="takeIdAll(idsAlbumArtist[i])"
                [routerLink]="['/albumDirect', idsAlbumArtist[i]]">
                <div class="textListBottom">
                    <p class="artistAlbum">{{nameAlbumArtist[i] | pipeTruncate}}</p> <br>
                    <p class="yearArtist">{{releaseDateArtist[i].split("-")[0]}} · {{typeAlbumArtist[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf=" artistTwoImage !== ''">
        <div class="cardArtistTwo">
            <div class="artistTwoImage"><img class="artistTwoImage" src="{{artistTwoImage}}" alt=""></div>
            <div class="artistTwoText">
                <div class="textArtistTwo">Títulos populares</div>
                <div class="textArtistOne">{{trackNameArtistTwo}}</div>
            </div>
        </div>
    </div>
    <div class="cardAlbum" *ngIf="artistTwoImage !== ''">
        <div class="cardImageAlbum" *ngFor="let album of nameAlbumArtistTwo.slice(0, 6); let i = index">
            <div class="cardCuadAlbum">
                <img class="imageAlbum" src="{{imageAlbumArtistTwo[i] }}" alt=""
                    (click)="takeIdAll(idsAlbumArtistTwo[i])" [routerLink]="['/albumDirect', idsAlbumArtistTwo[i]]">
                <div class="textListBottom">
                    <p class="artistAlbum">{{nameAlbumArtistTwo[i] | pipeTruncate}}</p> <br>
                    <p class="yearArtist">{{releaseDateArtistTwo[i].split("-")[0]}} · {{typeAlbumArtistTwo[i]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="textArtist">Sus fans también escuchan</p>
    <div class="cardArtist">
        <div class="cardImageArtista" *ngFor="let artista of artistSimilarName.slice(0, 6); let i = index">
            <div class="cardRedSimilar" (click)="takeIdAll(idArtistSimilar[i])" [routerLink]="['/artistId', idArtistSimilar[i]]">
                <img class="imageSimilar" src="{{artistSimilarImage[i]}}" alt="">
                <div class="textListBottom">
                    <p class="artistSimilar">{{artistSimilarName[i]}}</p>
                    <p class="typeArtist">{{artistSimilarType[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="albumImagText">
        <div class="imageAlbumFooter">
            <img class="imageAlbumFooter" src="{{trackImage}}" alt="">
        </div>
        <div class="textAlbumFooter">
            <div class="textAlbumFooterType">Del {{albumType}}</div>
            <div class="textAlbumFooterName" (click)="takeIdAll(albumId)" [routerLink]="['/albumDirect', albumId]">
                {{albumTrack}}</div>
        </div>
    </div>
    
    <app-list-songs 
    [topTrackList]="albumTrackList" />
   
    <div class="releaseFoot">{{albumTracksRelease}}</div>
</div>