
.app-album{
  position: relative;
  top: -100px;
}
.app-albumTwo{
  position: relative;
  top: -40px;
}
.list-song{
  position: relative;
  top: 200px;
}
  .textTracks {
    margin-top: 40px;
    position: relative;
    margin-left: 10px;  
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  .textTracksTwo {
    margin-left: 15px;
    margin-top: -20px;
    color: #747171;
    font-size: 14px;
  }
  
  .textArtist{
    top: 140px;
    position: relative;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }


  .textAlbumes {
    top: 60px;
    position: relative;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .cardArtistTwo {
    margin-left: 10px;
    align-items: center;
    position: relative;
    top: 80px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
  }
  .artistTwoImage {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .artistTwoText {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .textArtistTwo {
    color: white;
    font-weight: bold;
  }


  .albumImagText {
    top: 200px;
    margin-left: 5px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(112, 109, 109, 0.226);
  }

  .albumImagText:hover {
    background-color: #7c7c7c8a;
  }

  .imageAlbumFooter {
    width: 80px;
    height: 80px;
  }

  .textAlbumFooter {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .textAlbumFooterType {
    color: white;
    font-size: 14px;
  }

  .textAlbumFooterName {
    color: white;
    font-weight: bold;
  }

  .textAlbumFooterName:hover {
    cursor: pointer;
    text-decoration: underline;
  }


  .releaseFoot {
    position: relative;
    margin-left: 20px;
    top: 200px;
    font-size: 14px;
  }






