<div class="container">
    <div class="primary">
        <div class="fondo" [ngStyle]="{
           'background': 'linear-gradient(to top, transparent 0, rgba(' + colorDominantePlayList[0] + ',' + colorDominantePlayList[1] + ',' + colorDominantePlayList[2] + ', 1) 100%)' 
        }">
            <div class="navsearch">
                <button class="btonre">Registrarte</button>
                <button class="btonis">Iniciar sesión</button>
            </div>
            <div class="header">
                <div class="imgHeader">
                    <img class="imgImg" src="{{listImage}}" alt="">
                </div>
                <div class="textHeader" *ngIf="buscar">
                    <p>{{listType.charAt(0).toUpperCase() + listType.slice(1)}}</p>
                    <p class="nLista">{{listName}}</p>
                    <p class="sLista">{{listDescription}}</p>
                    <p> <span class="iconH"></span><span>SearchsMusics</span> <span class="sLista"
                            *ngIf="listFollowers > 500"> · {{listFollowers | numberFormat}} seguidores</span> <span
                            class="sLista" *ngIf="listFollowers < 500"> · {{listFollowers}} canciones</span></p>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div *ngIf="loading" style="font-size: 25px; font-weight: bold; position: absolute; top: 50%; left: 40%;">
                <div class="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div *ngIf="!loading && buscar">
                <div>
                    <table>
                        <thead>
                            <tr class="columnall">
                                <th class="column1">#</th>
                                <th class="column2">Título</th>
                                <th class="column3"></th>
                                <th class="column4">Álbum</th>
                                <th class="column5"><mat-icon>av_timer</mat-icon></th>
                                <th class="column6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let track of tracksList; let i = index">
                                <tr class="filasall">
                                    <td class="fila1">{{ i + 1 }}</td>
                                    <td class="fila2"><img class="imgCanciones" src="{{tracksImages[i]}}"
                                            (click)="togglePlayBack(trackUrl[i])"></td>
                                    <td>
                                        <span class="fila31" (click)="takeIdAll(artistId[i])" [routerLink]="'/songsId'">
                                            {{tracksList[i] }}</span> <br>

                                        <span class="fila32" *ngIf="trackArtistTwo[i] === ''">
                                            <span class="linkArtist" (click)="takeIdAll(trackArtistId[i])"
                                                [routerLink]="'/artistId'"> {{tracksArtist[i]}} </span></span>

                                        <span class="fila32" *ngIf="trackArtistTwo[i] !== ''">
                                            <span class="linkArtist" (click)="takeIdAll(trackArtistId[i])"
                                                [routerLink]="'/artistId'"> {{tracksArtist[i]}} </span> ,
                                            <span class="linkArtist" (click)="takeIdAll(trackArtistTwoId[i])"
                                                [routerLink]="'/artistId'">{{trackArtistTwo[i]}}</span> </span>
                                    </td>
                                    <td class="fila4"> <span (click)="takeIdAll(albumId[i])"
                                            [routerLink]="'/albumDirect'">{{tracksAlbum[i]}}</span> </td>
                                    <td class="fila4">{{tracksDuration[i] | pipeDuracion}}</td>
                                    <td class="flila5">
                                        <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                                            (input)="ajustarVolume()">
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
             <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>