
        <app-header-base *ngIf="!loading"
            [colorDominantImage]="colorDominanteAlbum"
            [imageId]="listImage"
            [typeId]="typeAlbum"
            [nameId]="listName"
            [nameArtistOrFollowers]="albumArtists"
            [releaseDate]="releaseDate"
            [numberSongsOrPopularity]="listCanciones"
            [search]="buscar"
            />
        <div class="grid-container" >
            <app-list-songs *ngIf="trackList"
            [topTrackList]="trackList"/>
        </div>

 
