.cardL {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap:40px
  }
  
  .topList {
    top: 120px;
    display: flex;
    position: relative;
    height: 300px;
  }
  
  .cardList {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
  }
  .cardList:hover {
    border-radius: 10px;
    background-color: rgba(112, 109, 109, 0.226);
  }

  .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardImageList {
    display: flex;
    border-radius: 10px;
    border: none;
    position: relative;
    width: 180px;
    height: 180px;
  }
  
  .cardImageList::shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background-color: #181717;
  }
  
  .cardImageList:hover {
    cursor: pointer;
  }

  .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .underImage1 {
    position: relative;

  }
  
  .underImage2 {
    position: relative;
    color: #424242;
  }

  .textListas {
    top: 100px;
    position: relative;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  

  @media screen and (max-width: 955px) {
    .cardL{
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .topList {
      height: 250px;
    }    

    .cardImageList {
      width: 155px;
      height: 155px;
    }

    .underImage1 {
      font-size: 13px;
    }
    
    .underImage2 {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 855px) {
    .cardL{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-row-gap:30px
    }
    .topList {
      height: 240px;
    }    
    
    .cardImageList {
      width: 150px;
      height: 150px;
    }

  }
  
  @media screen and (max-width: 755px) {
    .cardL{
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      grid-row-gap:20px
    }
    .topList {

      height: 220px;
    }    
    
    .cardImageList {
      width: 140px;
      height: 140px;
    }

    .underImage1 {
      font-size: 12px;
    }
    
    .underImage2 {
      font-size: 12px;
    }
 
  }
  
  @media screen and (max-width: 655px) {
    .cardL{
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-row-gap:10px
    }
    .topList {

      height: 200px;
    }
    .textListas {
      font-size: 20;
    }    
    
    .cardImageList {
      width: 120px;
      height: 120px;
    }

    .underImage1 {
      font-size: 11px;
    }
    
    .underImage2 {
      font-size: 11px;
    }
  }
  
  @media screen and (max-width: 555px) {
    .cardL{
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-row-gap:5px
    }
    .topList {
      height: 170px;
    } 
    
    .textListas {
      font-size: 17;
    }

    .cardImageList {
      width: 100px;
      height: 100px;
    }

    .underImage1 {
      font-size: 10px;
    }
    
    .underImage2 {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .cardL{
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-row-gap:5px;
      top: -50px;
    }
    .textListas{
      font-size: 14px;
      top: 70px;
    }
  }

  @media screen and (max-width: 350px) {
    .cardImageList {
      width: 80px;
      height: 80px;
    }
  }