
<table  >
    <thead>
        <tr class="columnall">
            <th class="column1">#</th>
            <th class="column2"></th>
            <th class="column3">Título</th>
            <th class="column4" *ngIf="!checkRoute()">Álbum</th>
            <th class="column4" *ngIf="checkRoute()"></th>
            <th class="column5"><mat-icon>av_timer</mat-icon></th>
            <th class="column6"></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let track of topTrackList; let i = index">
            <tr class="filasall" >
                <td class="fila1" *ngIf="checkRoute()" (click)="togglePlayBack(topTrackUrlSong[i])">{{ i + 1 }}</td>
                <td class="fila1" *ngIf="!checkRoute()" >{{ i + 1 }}</td>
                <td class="fila2" *ngIf="checkRoute()"></td>
                <td class="fila2" *ngIf="!checkRoute()"><img  class="imgCanciones" src="{{topTrackArtistImage[i]}}"
                        (click)="togglePlayBack(topTrackUrlSong[i])">
                </td>
                <td>
                    <span class="fila31" 
                    [routerLink]="['/songsId', topTrackId[i]]">{{topTrack[i] | pipeTruncate}}</span> <br>
                    <span class="fila32" *ngIf="topTrackArtistTwo[i] !== ''">
                        <span class="artistTrackLink" (click)="takeIdAll(topTrackArtistId[i])"
                            [routerLink]="['/artistId', topTrackArtistId[i]]">{{ topTrackArtist[i] }} ,
                        </span>
                        <span class="artistTrackLink" (click)="takeIdAll(topTrackArtistTwoId[i])"
                        [routerLink]="['/artistId', topTrackArtistTwoId[i]]">{{ topTrackArtistTwo[i] }}
                        </span>
                    </span>
                    <span class="fila32" *ngIf="topTrackArtistTwo[i] === ''">
                        <span class="artistTrackLink" (click)="takeIdAll(topTrackArtistId[i])"
                        [routerLink]="['/artistId', topTrackArtistId[i]]">{{ topTrackArtist[i] }}</span>
                    </span>
                </td>
                <td class="fila4" (click)="takeIdAll(topTrackAlbumId[i])" [routerLink]="['/albumDirect', topTrackAlbumId[i]]">
                    {{topTrackAlbum[i] | pipeTruncate}}</td>
                <td class="fila4">{{topTrackDuration[i] | pipeDuracion}}</td>
                <td class="flila5">
                    <input type="range" min="0" max="1" step="0.05" [(ngModel)]="globalVolume"
                        (input)="ajustarVolume()">
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

