
.textArtist {
  position: relative;
  margin-left: 15px;  
  font-size: 22px;
  font-weight: bold;
  color: white;
}


.textAlbumes {
  margin-top: 80px;
  position: relative;
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}


.textListas {
  margin-top: 80px;
  position: relative;
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.list-app{
  position: relative;
  top: -100px;
}

