<app-header-base *ngIf="nameCategory && !loading"
[colorDominantImage]="colorDominanteCategory" 
[imageId]="imageCategory" 
[typeId]=""
[nameId]="nameCategory" 
[nameArtistOrFollowers]="" 
[releaseDate]="" 
[numberSongsOrPopularity]=""
[search]="buscar" />
<div *ngIf="nameCategory && !loading">
  <p class="textArtist">Artistas de {{nameCategory}}</p>
  <app-cards-line class="list-app"
  [topTrackList]="listArtist"/>

  <p class="textAlbumes">Álbumes de {{nameCategory}}</p>
  <app-cards-line class="list-app"
  [topAlbumList]="listAlbum"/>

  <p class="textListas">Las mejores listas de {{nameCategory}}</p>
  <app-cards-line class="list-app"
  [topPlayListList]="listPlayList"/>

  <div class="textListas">Top canciones de {{nameCategory}}</div>
  <app-list-songs *ngIf="topTrackList"
  [topTrackList]="topTrackList"/>
</div>