<div class="container">
  <div class="primary">
    <app-search *ngIf="search"></app-search>
    <div *ngIf="loading"
      style="font-size: 25px; font-weight: bold; position: absolute; top: 40%; left: 40%; z-index: 999">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div *ngIf="!search && !loading">
        <div class="navsearch">
          <button class="btonre">Registrarte</button>
          <button class="btonis">Iniciar sesión</button>
        </div>
      <p class="textListas">Para empezar... Listas Top</p>
      <div class="cardL">
        <div class="topList" *ngFor="let list of topListName; let i = index">
          <div class="cardList">
            <img src={{topListImage[i]}} alt="Imagen del artista" class="cardImageList" (click)="takeId(idsPlaylist[i])" [routerLink]="'/playListId'">
            <div class="topTrackslist">
              <p class="texttt1">{{ topListName[i] | pipeTruncate }}</p>
              <p class="artistt1">{{ topListArtist[i] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerOne">
      <div class="footerOneOne">
        <p class="titleFoot">Empresa</p>
        <p>Acerca de</p>
        <p>Empleo</p>
        <p>For the Record</p>
      </div>
      <div class="footerOneOne">
        <p class="titleFoot">Comunidades</p>
        <p>Para artistas</p>
        <p>Desarrolladores</p>
        <p>Publicidad</p>
        <p>Inversores</p>
        <p>Proveedores</p>
      </div>
      <div class="footerOneOne">
        <p class="titleFoot">Enlaces útiles</p>
        <p>Asistencia</p>
        <p>App gratis para móvil</p>
      </div>
      <div class="footerOneOne">
        <p class="titleFoot">Planes de Spotify</p>
        <p>Premium Individual</p>
        <p>Premium Duo</p>
        <p>Premium Familiar</p>
        <p>Premium para Estudiantes</p>
        <p>Spotify Free</p>
      </div>
      <div class="iconosFoot">
        <a target="_blank"  class="fa fa-facebook"></a>
        <a target="_blank" class="fa fa-instagram"></a>
        <a target="_blank"  class="fa fa-twitter"></a>
      </div>
    </div>
    <hr class="finalFoot">
  <div class="second">
    <div class="logo">
      <mat-icon class="icon">queue_music</mat-icon>
      <div class="title">SearchMusics</div>
    </div>
    <div class="homSearch">
      <div class="inicio">
        <mat-icon class="icon">home</mat-icon>
        <div class="title2"><button class="btn1" [routerLink]="'/home'">Inicio</button></div>
      </div>
      <div class="buscar">
        <mat-icon class="icon">search</mat-icon>
        <div class="title2"> <button class="btn1" [routerLink]="'/search'" (click)="buscar()">Buscar</button></div>
      </div>
    </div>
  </div>
  <div class="tercero">
    <div class="biblioteca">
      <mat-icon class="icon3">library_music</mat-icon>
      <div class="title3">Tu biblioteca</div>
      <mat-icon class="icon31">add</mat-icon>
    </div>
    <div class="listasypodcast">
      <div class="lista">
        <p class="listtext">Crea tu primera lista</p>
        <p class="listtext1">Es muy fácil, y te echaremos una mano</p>
        <button class="botnlis">Crear lista</button>
      </div>
      <div class="podcast">
        <p class="listtext">Encuentra pódcasts que quieras seguir</p>
        <p class="listtext1">Te avisaremos cuando salgan nuevos episodios</p>
        <button class="botnlis">Explorar pódcasts</button>
      </div>
    </div>
    <div class="legal">
      <div class="listalegal">
        <div class="lgl">Legal</div>
        <div class="lgl">Centro de seguridad y privacidad</div>
        <div class="lgl">Política de Privacidad</div>
        <div class="lgl">Configuración de Cookies</div>
        <div class="lgl">Información sobre los anuncios</div>
        <div class="lgl">Accesibilidad</div>
      </div>
      <div class="cookies">
        <a href="" class="cookies">Cookies</a>
      </div>
      <div class="idioma">
        <button class="btonln"><mat-icon class="iconln">language</mat-icon><span class="idiom">Español de
            España</span></button>
      </div> 
    </div>
  </div>
  <div class="foot">
    <div class="registrate">
      <p class="muestra">Muestra de SearchMusics</p>
      <p class="disfruta">Regístrate para disfrutar de canciones y podcasts sin límites, con anuncios ocasionales.
        No
        hace
        falta tarjeta de crédito.</p>
    </div>
    <div class="botonregistrate">
      <button class="btonr">Registrarte gratis</button>
    </div>
  </div>
</div>
<router-outlet />