
.primary {
  position: fixed;
  top: 8px;
  right: 8px;
  left: 435px;
  bottom: 85px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #121212;
  border-radius: 10px;
  min-width: 360px;
  scrollbar-gutter: stable;
  }

  .primary:hover {
    overflow-y: auto;
  }
  
  .primary::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    background-color: transparent;
    
  }
  
  .primary::-webkit-scrollbar-thumb{
    background-color: rgb(76, 76, 77);
    
  }

.registrate {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.registrate p {
  margin: 0;
}

.muestra {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
}

.disfruta {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 600;
}

.botonregistrate { 
margin-right: 20px;
  
}

.btonr{
  
  border-radius: 50px;
  border: none;
  height: 47px;
  width: 100%;
  font-weight: 650;
  min-width: 150px;
  max-width: 195px;
  margin-left: auto;
}

.btonr:hover {
  scale: 103%;
}

.textListas {
  top: 100px;
  position: relative;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
  color: white; 

}

.cardL {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  grid-row-gap:40px

}

.topList {
  left: 10px;
  top: 170px;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 240px;
}

.cardList {

  display: flex;
  padding-left: 10px;
  width: 210px;

}

.cardCuadAlbum {

  margin-top: 0px;
  width: 180px;
  height: 180px;
  border: none;
}

.cardImageList {
  border-radius: 10px;
  border: none;
  position: relative;
  border: none;
  width: 180px;
  height: 180px;
}

.cardImageList::shadow{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: #292828;
}

.cardImageList:hover {
  cursor: pointer;
}
.texttt1 {

  width: 160px;
  height: 10%;
  position: relative;
  left: -180px;
  top: 180px;
}

.artistt1 {
  width: 160px;
  height: 10%;
  position: relative;
  left: -180px;
  top: 185px;
  color: #424242;
  
}


@media screen and (max-height: 600px) {  
  .primary {
    min-height: 485px;
  }

}

@media screen and (max-width: 855px) {

  .primary {
    left: 51%;
  }

}

@media screen and (max-width: 755px) {
  .primary {
    left: 385px; 
  }
 
}




