.primary {
  position: fixed;
  top: 8px;
  right: 8px;
  left: 435px;
  bottom: 85px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #121212;
  border-radius: 10px;
  scrollbar-gutter: stable;
}

.primary:hover {
  overflow-y: auto;
}

.primary::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  background-color: transparent;
}

.primary::-webkit-scrollbar-thumb {
  background-color: rgb(76, 76, 77);
}


@media screen and (max-height: 600px) {
  .primary {
    min-height: 485px;
  }
}

@media screen and (max-width: 955px) {

  .primary {
    left: 41.5%;
  }
}

@media screen and (max-width: 855px) {

  .primary {
    left: 37%;
  }
}

@media screen and (max-width: 755px) {

  .primary {
    left: 32%;
  }
}

@media screen and (max-width: 655px) {
  .primary {
    left: 27.5%;
  }
}

@media screen and (max-width: 555px) {
  .primary {
    left: 23%;
  }
}

@media screen and (max-width: 400px) {
  .primary {
    left: 24%;
    bottom: 67px;
  }
  .primary::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
}