.icinp {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    min-width: 50px;
    position: relative;
    height: 65px;
  }

  .icinp:hover input {
    border: 1px solid #525151;
    background-color: #383838;
  }

  .icinp input::placeholder {
    position: relative;
    font-size: 14px;
    color: #777676;
  }

  .icinp:hover .icon {
    color: rgb(211, 201, 201);
  }

  .icon {
    color: #757171;
    position: absolute;
    left: 30px;
    top: 35px;
    transform: translateY(-50%);
    z-index: 1;
  }

  .insearch {
    position: relative;
    background-color: #242424;
    border: none;
    left: 20px;
    padding-left: 40px;
    height: 45px;
    width: 100%;
    border-radius: 20px;
    color: white;
    max-width: 368px;
  }

  @media screen and (max-width: 1100px){
    .icinp{
      width: 33%;
    }
  }

  @media screen and (max-width: 955px){
    .icinp{
      width: 28%;
    }
  }

  @media screen and (max-width: 855px){
    .icinp{
      width: 22%;
    }
  }

  @media screen and (max-width: 755px){
    .icinp{
      width: 25%;
    }
  }


  @media screen and (max-width: 555px) {
    .icinp{
      left: -20px;
      width: 30%;
    }
    .insearch{
      height: 35px;
    }

    .icinp input::placeholder {
      font-size: 10px;
      top: -2px;
    }

    .icon {
      transform: translateY(-70%);
      scale: 70%;
    }
  }

  @media screen and (max-width: 400px) {
    .icinp{
      left: -30px;
      width: 40%;
      top: -8px;
    }

    .insearch{
        height: 20px;
        width: 95%;
    }

    .icinp input::placeholder {
      font-size: 8px;
      top: -2px;
    }

    .icon {
      transform: translateY(-90%);
      scale: 50%;
      left: 18px;
    }
    .insearch {
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 300px) {

    .insearch{
      width: 80%;
    }
    
  }