<div class="base">
  <div class="footerOne">
    <div class="footerOneOne">
      <p class="titleFoot">Empresa</p>
      <p>Acerca de</p>
      <p>Empleo</p>
      <p>For the Record</p>
    </div>
    <div class="footerOneOne">
      <p class="titleFoot">Comunidades</p>
      <p>Para artistas</p>
      <p>Desarrolladores</p>
      <p>Publicidad</p>
      <p>Inversores</p>
      <p>Proveedores</p>
    </div>
    <div class="footerOneOne">
      <p class="titleFoot">Enlaces útiles</p>
      <p>Asistencia</p>
      <p>App gratis para móvil</p>
    </div>
    <div class="footerOneOne">
      <p class="titleFoot">Planes de Spotify</p>
      <p>Premium Individual</p>
      <p>Premium Duo</p>
      <p>Premium Familiar</p>
      <p>Premium para Estudiantes</p>
      <p>Spotify Free</p>
    </div>
    <div class="iconosFoot">
      <a target="_blank" class="fa fa-facebook"></a>
      <a target="_blank" class="fa fa-instagram"></a>
      <a target="_blank" class="fa fa-twitter"></a>
    </div>
  </div>
  <hr class="finalFoot">
  <div class="copyright">© 2024 SearchMusics</div>
</div>