<swiper-container class="swiper" 
[slidesPerView]="5"
  [spaceBetween]="10"
  [breakpoints]="{
    '100': { slidesPerView: 1, spaceBetween: 10 },
    '250': { slidesPerView: 2, spaceBetween: 10 },
    '640': { slidesPerView: 3, spaceBetween: 10 },
    '1100': { slidesPerView: 4, spaceBetween: 10 },
    '1350': { slidesPerView: 5, spaceBetween: 10 }
  }"
*ngIf="topTrackList.length > 0"
>
    <swiper-slide class="swiper-slide" *ngFor="let card of topTrackList.slice(0, 10); let i = index">
        <div class="music-cardTwo">
            <img class="image" src="{{image[i]}}" alt="imagen" [routerLink]="['/artistId', id[i]]">
        </div>
        <div class="card-text">
            <p class="textOne">{{ name[i] }}</p>
        </div>
    </swiper-slide>
</swiper-container>