
  .textArtist {
    top: 140px;
    position: relative;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

  .artistsall {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap:40px;
}

  .cardArtist {
    top: 160px;
    display: flex;
    position: relative;
    height: 300px;
  }

  .cardImageArtista {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
  }


  .cardImageArtista:hover {
    border-radius: 10px;
    background-color: rgba(112, 109, 109, 0.226);
  }

  
  .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageSimilar {
    display: flex;
    position: relative;
    border-radius: 10px;
    border: none;
    width: 180px;
    height: 180px;
  }

  .imageSimilar::shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background-color: #181717;
  }

  .imageSimilar:hover {
    cursor: pointer;
  }

  .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .artistSimilar {
    position: relative;
  }

  .yearArtist{
    position: relative;
    color: #424242;
  }

  .artistAlbumLink:hover {
    text-decoration: underline;
    cursor: pointer;
  }



  @media screen and (max-width: 955px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .cardArtist {

      height: 270px;
    }    
    

    .imageSimilar {
      width: 155px;
      height: 155px;
    }

    .artistSimilar {
      font-size: 13px;
    }
    
    .yearArtist {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 855px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    .cardArtist {
      height: 250px;
    }    
    
    .imageSimilar {
      width: 150px;
      height: 150px;
    }
  }
  
  @media screen and (max-width: 755px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .cardArtist {
      height: 230px;
    }    
    
    .imageSimilar {
      width: 140px;
      height: 140px;
    }

    .artistSimilar {
      font-size: 12px;
    }
    
    .yearArtist {
      font-size: 12px;
    }
 
  }
  
  @media screen and (max-width: 655px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .cardArtist {

      height: 200px;
    }    

    .imageSimilar {
      width: 120px;
      height: 120px;
    }

    .artistSimilar {
      font-size: 11px;
    }
    
    .yearArtist {
      font-size: 11px;
    }
  }
  
  @media screen and (max-width: 555px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
    .topList {

      height: 160px;
    }    
    
    .imageSimilar {
      width: 100px;
      height: 100px;
    }

    .artistSimilar {
      font-size: 10px;
    }
    
    .yearArtist {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .artistsall{
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-row-gap:5px
    }
  }

  @media screen and (max-width: 350px) {
    .imageSimilar {
      width: 80px;
      height: 80px;
    }
  }