<!-- <div class="swiper" *ngIf="topTrackList.length > 0">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let card of topTrackList.slice(0, 10); let i = index">
            <div class="music-cardTwo">
                <img class="image" src="{{image[i]}}" alt="imagen"  [routerLink]="['/artistId', id[i]]">
            </div>
            <div class="card-text">
                <p class="textOne">{{ name[i] }}</p>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


<div class="swiper" *ngIf="topAlbumList.length > 0">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let card of topAlbumList.slice(0, 10); let i = index">
            <div class="music-card">
                <img class="imageC" src="{{imageAlbum[i]}}" alt="imagen" [routerLink]="['/albumDirect', idAlbum[i]]">
            </div>
            <div class="card-text">
                <p class="textOne">{{ nameAlbum[i] | pipeTruncate }}</p>
                <p class="textTwo">{{ albumYearAlbum[i].split("-")[0] }} · 
                   <span class="linkArtist" [routerLink]="['/artistId', idArtistAlbum[i]]">{{artistNameAlbum[i]}}</span> </p>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


<div class="swiper" *ngIf="topPlayListList.length > 0">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let card of topPlayListList.slice(0, 10); let i = index">
            <div class="music-card">
                <img class="imageC" src="{{imagePlayList[i]}}" alt="imagen"  [routerLink]="['/playListId', idPlayList[i]]">
            </div>
            <div class="card-text">
            <p class="textOne">{{ namePlayList[i] | pipeTruncate}}</p>
            <p class="textTwo">{{nameDoPlayList[i]}}</p>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div> -->



