.primary {
  position: fixed;
  top: 8px;
  right: 8px;
  left: 435px;
  bottom: 85px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #121212;
  border-radius: 10px;
  min-width: 360px;
  scrollbar-gutter: stable;
}


.primary:hover {
  overflow-y: auto;
}


.primary::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  background-color: transparent;

}

.primary::-webkit-scrollbar-thumb {
  background-color: rgb(76, 76, 77);

}
.navsearch {
  right: 8px;
  left: 435px;
  height: 70px;
  position: fixed;
  background-color: #080808;
  z-index: 1;
}

  .grid-container {
    padding: 10px;
    position: relative;
    top: 120px;
    display: grid;
    border-collapse: collapse;
    width: 100%;
    border-bottom:1px solid #292828;

}
.columnall {
    color: #a09f9f;
    font-size: 14px;
}
.column1 {
    width: 2.5%;  

}
.column2 {
    width: 5%;
   
}
.column3 {
    width: 45%;
    
}
.column4 {
    width: 30%;
    
}
.column5 {
    width: 5%; 
}
.column6 {
    width: 5%;

}


input[type="range"] {
  /* Cambiar la longitud del input */
  width: 50px; 
}

/* Cambiar el color de la barra de deslizamiento */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #2b2828; /* Cambia el color de la barra de deslizamiento para navegadores webkit (Chrome, Safari, etc.) */
}


.filasall {
    height: 60px;
}

.filasall:hover {
  background-color: rgba(112, 109, 109, 0.226);
}

.fila1 {
    color: #a09f9f;
    
}
.imgCanciones {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}
.imgCanciones::shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.imgCanciones:hover {
  cursor: pointer;
}

.fila31 {
    color: white !important;
}
.fila31:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fila32 {
    font-size: 14px;
    color: #a09f9f;
}
.artistTrackLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fila4 {
    color: #a09f9f;
    font-size: 14px;
}

.fila4:hover {
  cursor: pointer;
  text-decoration: underline;
}



@media screen and (max-height: 600px) {  

  .primary {
    min-height: 485px;
  }

}


@media screen and (max-width: 855px) {
  .searcher {
    width: 25%;
  }

  .navsearch {
    left: 51%;
  }

  .primary {
    left: 51%;
  }
}

@media screen and (max-width: 755px) {
  .navsearch {
    left: 385px;
  }

  .primary {
    left: 380px;
    
  }

}

